@media only screen and (max-width: 1000px){
	.--404 {
		padding-top: calc(var(--header-height) + 45.87vw + 40px);
	}
	.--404__block {
		padding-top: 40px;
		padding-bottom: 65px;
	}
	.--404__img {
		height: 45.87vw;
	}
}